.simpleAuthButton {
    width: 100px;
    margin: 5px;
    height: 60px;
    float: left;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    text-indent: -9999px;
}

.simpleAuthButton.twitter {
    background-position: -1px -249px;
}

.simpleAuthButton.facebook {
    background-position: -1px -187px;
}

.simpleAuthButton.google {
    background-position: -1px -1px;
}