@using SimpleSocialAuth.MVC3
<link href-="~/Content/simplesocialauth.css" rel="stylesheet"/>
<script src="~/Scripts/simplesocialauth.js"></script>

@{
    ViewBag.Title = "LogIn";
}

<h2>LogIn</h2>

Html.RenderAuthWarnings()

@if (TempData["authError"] != null)
{
  <p class="error-messasge">
    @TempData["authError"]
  </p>
}

@using (Html.BeginForm("Authenticate", "SimpleAuth", FormMethod.Post, new { id = "authForm" }))
{
  @Html.AuthButtons()
}